$themeColor: #28BEA0;

// button
.el-button {
  padding: 11px;
}
.shanBei-btn, .shanBei-btn:hover {
  background-color: $themeColor;
  color: #fff;
}
.shanBei-download-btn, .shanBei-download-btn:hover {
  background-image: linear-gradient(348deg, #302b31 86%, #3a383e 12%);
  color: #fff;
}